@import "utilities/variables";

.header {
	padding: calc(var(--gutter-padding) * 2) var(--gutter-padding);

	@media (min-width: $mediumBreakpoint) {
		padding-block: calc(var(--gutter-padding) / 2);
	}

	nav {
		overflow-x: auto;

		ul {
			display: flex;
			gap: 1rem;
			list-style: none;
			padding-left: 0;
		}
	}
}
