@import "src/utilities/variables";

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

.show-below-medium {
	display: inline;

	@media (min-width: $mediumBreakpoint) {
		display: none;
	}
}

.show-above-medium {
	display: none;

	@media (min-width: $mediumBreakpoint) {
		display: inline;
	}
}
