@import "src/utilities/variables";

.remove-padding {
	margin: calc(var(--gutter-padding) * -1);
}

.add-padding {
	padding: var(--gutter-padding);
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
	padding: var(--gutter-padding);
	background-color: var(--blue-100);

	text-align: center;
	color: white;
}

.hero-title {
	--hero-title-size: 1.5rem;

	font-size: var(--hero-title-size);

	@media (min-width: $mediumBreakpoint) {
		font-size: calc(var(--hero-title-size) * 2);
	}

	@media (min-width: $largeBreakpoint) {
		font-size: calc(var(--hero-title-size) * 2.5);
	}
}

.hero-subtitle {
	--hero-subtitle-size: 1rem;

	font-size: var(--hero-subtitle-size);

	@media (min-width: $mediumBreakpoint) {
		font-size: calc(var(--hero-subtitle-size) * 2);
	}

	@media (min-width: $largeBreakpoint) {
		font-size: calc(var(--hero-subtitle-size) * 2.5);
	}
}
