@import "utilities/variables";

.footer {
	padding: calc(var(--gutter-padding) * 2) var(--gutter-padding);
	background-color: var(--text-color);

	@media (min-width: $mediumBreakpoint) {
		padding-block: calc(var(--gutter-padding) / 2);
	}

	> * {
		color: var(--text-color);
		filter: invert(100%);
	}

	nav {
		overflow-x: auto;

		ul {
			display: flex;
			gap: 1rem;
			list-style: none;
			padding-left: 0;
			margin: 0;
		}
	}
}
