@import "src/utilities/variables";

.footer {
	padding: var(--gutter-padding);
	background-color: var(--text-color);

	a {
		color: white;

		&:hover {
			text-decoration: none;
		}
	}

	nav {
		overflow-x: auto;

		ul {
			display: flex;
			gap: 1rem;
			list-style: none;
			padding-left: 0;
			margin: 0;
		}
	}
}
