.career-history-item {
	margin-block: 2rem;

	&:last-child {
		margin-block-end: 0;
	}

	p {
		&:last-child {
			margin-block-end: 0;
		}
	}
}

.career-history-item-subtitle {
	font-size: 0.8rem;
	font-style: italic;
	color: var(--text-color);
	opacity: 0.5;
}
