//
// setup
//

@import "utilities/variables";

:root {
	--gutter-padding: 0.5rem;
	--text-color: #111111;

	@media (min-width: $mediumBreakpoint) {
		--gutter-padding: 2rem;
	}
}

//
// elements
//

* {
	font-family: sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
	margin: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

html,
html:focus-within {
	scroll-behavior: smooth;
}

body {
	color: var(--text-color);
	min-height: 100vh;
	line-height: 1.5;
	text-rendering: optimizespeed;
	font-size: 18px;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

main {
	flex-grow: 1;
	padding: calc(var(--gutter-padding) * 2) var(--gutter-padding);
}

//
// selectors
//

#__next {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#kitchen-sink hr {
	margin: 2rem 0;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

//
// media queries
//

@media (prefers-reduced-motion: reduce) {
	html,
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: 0.01ms !important;
	}
}
