.premier-league-table-wrapper {
	margin-block-start: 2rem;
	overflow-x: auto;
}

.premier-league-table {
	width: 100%;
	padding-inline: 0.5rem;
	padding-block: 1rem;
	border-spacing: 0;
	background-color: rgba(black, 0.05);
	text-align: left;

	th,
	td {
		padding-inline: 1rem;
		padding-block: 0.5rem;
		border-inline-end: 1px solid white;

		&:last-child {
			border-inline-end: none;
		}
	}
}

.game-result {
	display: flex;
	gap: 0.25rem;
}

.game-result-pill {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 2rem;
	height: 2rem;
	border-radius: 100%;

	font-size: 1rem;
	line-height: 1;
	text-align: center;
	color: white;
}

.game-result-pill-w {
	background-color: green;
}

.game-result-pill-d {
	background-color: grey;
}

.game-result-pill-l {
	background-color: red;
}
